/* variables */
:root {
    --background_color: #121212;
    --white_color_high: rgba(255,255,255,87%);
    --white_color_med: rgba(255,255,255,60%);
    --white_color_low: rgba(255,255,255,38%);
    --text_color_opp: black;
    --primary_color: #4F51DF;
    --second_color: #332E6E;
    --card_color_low: rgba(255,255,255,10%);
    --card_color_med: rgba(255,255,255,18%);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background_color);
    color: var(--white_color_med);
    font-family: 'Open Sans';
}

/* navbar  */
/* items left */
.nav {
    background-color: var(--second_color);
    height: 64px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: all 1s;
}

.hideNav {
    transform: translate(calc(-100vw + (5em)) , 0);
}

.nav-item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

a:hover {
    color: var(--white_color_high);
}

a {
    text-decoration: none;
    color: var(--text_color_med);
}

.nav-item {
    transition: 0.2s;
    padding: 1em;
}

.nav-item:hover {
    background-color: var(--primary_color);
}

/* items right / menu button  */
#menu-button {
    cursor: pointer;
    padding: 1em;
}

.bar {
    background-color: var(--white_color_med);
    width: 30px;
    height: 5px;
    margin: 6px 0;
    transition: 0.7s;
}

.bar1 {
    transform: translate(0, 14px) rotate(-45deg);
}

.bar2 {
    transform: translate(0, -15px) rotate(45deg);
}

.change .bar1 {
    transform: translate(0, -4px) rotate(-45deg);
}

.change .bar2 {
    transform: translate(0, 4px) rotate(45deg);
}

/* hero page */
h1 {
    color: var(--text_color_high); 
}

#hero_section {
    background-color: var(--background_color);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sectioning */
.divDefault {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardTr {
    background-color: var(--card_color_low);
    padding: 4em;
    border-radius: 4px;
}

.cardTr:hover {
    background-color: var(--card_color_med);
}

/* button styling  */
.primary-btn {
    background-color: var(--primary_color);
    background-image: linear-gradient(90deg, rgba(0,0,0,0), rgba(255, 255, 255, 0.4), rgba(0,0,0,0));
    background-size: 400%;
    color: var(--white_color_high);
    min-width: 20vw;
    height: 5vh;
    border-radius: 4px;
    font-size: medium;
    background-position: 100%;
    transition: 0.7s;
    cursor: pointer;
}

.btn-shiny:hover {
    background-position: 0%;
}

.btn-shiny:active {
    transition: 0.2s;
    background-position: 30%;
}



